@import url('http://fonts.cdnfonts.com/css/zapfino-extra-lt');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;300;400;500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--bgColorBlack);
  color: #fff;
  transition: .3s var(--transition);
  -webkit-transition: .3s var(--transition);
  -moz-transition: .3s var(--transition);
  -ms-transition: .3s var(--transition);
  -o-transition: .3s var(--transition);
}

a {
  text-decoration: none;
  color: #fff;
}

p {
  color: #fff;
}

ul {
  list-style: none;
}

h1, h2, h3, h4, h5 {
  font-weight: normal;
}

/* ===========================Setting========================= */

/* ===========================Variable======================== */

:root {
  --border: 1px solid #fff;
  --japanLangStyle: "游明朝体","YuMincho";
  --englishLangStyle: 'Roboto Slab', serif;
  --letterSpacing: 1px;
  --transition: all ease;
  --bgColorBlack: #000;
  --bgColorWhite: #fff;
  --mainTextColor: #fff;
  --commonFontSizeP: 13px;
}

/* =======================Variable of End===================== */

/* ====================Number Language Style================== */
/*  
font-family: 'Zapfino Extra LT', sans-serif;
font-family: 'Zapfino Extra LT Pro', sans-serif;
font-family: 'Zapfino Forte LT Pro', sans-serif;
font-family: 'Zapfino Forte LT', sans-serif;
 */
 /* =========================================================== */


/* =============================Common========================= */

.Setting {
  min-height: 100vh;
}

.Container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 6rem 0;
  position: relative;
}

.Img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.SectionTitle {
  text-align: center;
}

.SectionTitle  h2 {
  position: relative;
  display: inline-block;
  margin: 1rem 0;
  letter-spacing: var(--letterSpacing);
  font-family: var(--japanLangStyle);
  padding: 0 32px;
  text-transform: uppercase;
}

.SectionTitle  h2::after,
.SectionTitle  h2::before {
  content: "";
  position: absolute;
  height: 5px;
  background: var(--bgColorWhite);
  width: 30px;
}

.SectionTitle  h2::after {
  top: 50%;
  right: 0%;
  transform: translate(15%, -50%);
  -webkit-transform: translate(15%, -50%);
  -moz-transform: translate(15%, -50%);
  -ms-transform: translate(15%, -50%);
  -o-transform: translate(15%, -50%);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.SectionTitle  h2::before {
  top: 50%;
  left: 0%;
  transform: translate(-15%, -50%);
  -webkit-transform: translate(-15%, -50%);
  -moz-transform: translate(-15%, -50%);
  -ms-transform: translate(-15%, -50%);
  -o-transform: translate(-15%, -50%);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

/* =========================Common of End======================= */
